<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".yApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_glich"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_glich_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31" >

        <service
            android:name=".service.PlayerService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true" >
            <meta-data
                android:name="androidx.media3.session.default_notification_icon"
                android:resource="@drawable/ic_logo_dance_monochrom" />
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.LocalTrackDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    <activity
        android:name=".activities.MainActivity"
        android:exported="true"
        android:screenOrientation="portrait">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
        <intent-filter
            android:autoVerify="true"
            android:label="@string/app_name">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="music.yandex.ru"
                android:pathPrefix="/album"
                android:scheme="https" />
            <data
                android:host="music.yandex.ru"
                android:pathPrefix="/users"
                android:scheme="https" />
        </intent-filter>
    </activity>

    </application>

</manifest>
